body {
    background-image: url(bg3.png);
  }
.wrapper {
    position: absolute;
    height: 400px;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(wrapperbg1.png);
}
iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.band {
    position: absolute;
    top: 257px;
    left: 351px;
    z-index: 2;
}